**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
src/generated/pubchem_dicts/inchikey_to_pubchem.pickle
src/generated/metanetx_4_4/chem_xref.tsv
src/generated/metanetx_4_4/chem_prop.tsv
src/generated/metanetx_4_4/reac_xref.tsv
src/generated/pubchem/pc_inchikey2compound_000004.ttl
src/generated/pubchem/pc_inchikey2compound_000001.ttl
src/generated/pubchem/pc_inchikey2compound_000010.ttl
src/generated/pubchem/pc_inchikey2compound_000008.ttl
src/generated/pubchem/pc_inchikey2compound_000006.ttl
src/generated/pubchem/pc_inchikey2compound_000007.ttl
src/generated/pubchem/pc_inchikey2compound_000009.ttl
src/generated/pubchem/pc_inchikey2compound_000002.ttl
src/generated/pubchem/pc_inchikey2compound_000005.ttl
src/generated/pubchem/pc_inchikey2compound_000003.ttl
src/generated/mnx_dicts_M/smiles.pickle
src/generated/mnx_dicts_M/inchi.pickle
src/generated/mnx_dicts_M/inchikey.pickle
src/generated/mnx_dicts_M/crossrefs.pickle
validation/01_klebsiella/validation_37/ss37_gempipe_NOREC/working/clustering/sequences.csv
validation/01_klebsiella/validation_37/ss37_gempipe_NOREC/working/clustering/combined.faa
validation/01_klebsiella/validation_37/ss37_gempipe/working/rec_broken/sequences.csv
validation/01_klebsiella/validation_37/ss37_gempipe/working/rec_masking/sequences.csv
validation/01_klebsiella/validation_37/ss37_gempipe/working/clustering/sequences.csv
validation/01_klebsiella/validation_37/ss37_gempipe/working/clustering/combined.faa
validation/01_klebsiella/validation_37/ss37_gempipe/working/rec_overlap/sequences.csv
validation/01_klebsiella/validation_37/pan37_gempipe/working/rec_broken/sequences.csv
validation/01_klebsiella/validation_37/pan37_gempipe/working/rec_masking/sequences.csv
validation/01_klebsiella/validation_37/pan37_gempipe/working/clustering/sequences.csv
validation/01_klebsiella/validation_37/pan37_gempipe/working/clustering/combined.faa
validation/01_klebsiella/validation_37/pan37_gempipe/working/rec_overlap/sequences.csv
validation/gapseq/dat/seq/Bacteria/unrev/7ccc5cd23660f087629258dec00384ef.fasta
validation/gapseq/dat/seq/Bacteria/unrev/d8f4388392492f58e09fd15edab321af.fasta
validation/gapseq/dat/seq/Bacteria/unrev/sequences.tar.gz
validation/03_pseudomonas/validation_36/ss36_gempipe_NOREC/working/clustering/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe_NOREC/working/clustering/combined.faa
validation/03_pseudomonas/validation_36/ss36_gempipe_TCDB/working/rec_broken/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe_TCDB/working/rec_masking/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe_TCDB/working/clustering/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe_TCDB/working/clustering/combined.faa
validation/03_pseudomonas/validation_36/ss36_gempipe_TCDB/working/rec_overlap/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working/rec_broken/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working/rec_masking/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working/clustering/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working/clustering/combined.faa
validation/03_pseudomonas/validation_36/ss36_gempipe/working/rec_overlap/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working.old/rec_broken/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working.old/rec_masking/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working.old/clustering/sequences.csv
validation/03_pseudomonas/validation_36/ss36_gempipe/working.old/clustering/combined.faa
validation/03_pseudomonas/validation_36/ss36_gempipe/working.old/rec_overlap/sequences.csv
validation/dbs/eggnog_proteins.dmnd
validation/dbs/eggnog.taxa.db
validation/dbs/eggnog.db
testing/09_aphidicola_auto2/working/dbs/eggnog_proteins.dmnd
testing/09_aphidicola_auto2/working/dbs/eggnog.taxa.db
testing/09_aphidicola_auto2/working/dbs/eggnog.db
applications/dacicola/gempipe/working/clustering/sequences.csv
applications/dacicola/gempipe/working/clustering/combined.faa
dist/
poetry.lock


docs/_build/ 


testing/


validation/


applications/


src/generated/metanetx_4_4/
src/generated/mnx_dicts_M/
src/generated/mnx_dicts_R/
src/generated/pubchem/
src/generated/pubchem_dicts/
src/generated/reactome/
src/generated/reactome_dicts/
src/generated/brenda/
src/generated/brenda_dicts/
src/generated/tcdb/
src/generated/tcdb_generated/
src/generated/tcdb_alignment/
