**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
working/annotation/db/eggnog_proteins.dmnd
working/annotation/db/eggnog.taxa.db
working/annotation/db/eggnog.db
dist/
poetry.lock


docs/_build/ 
docs/_build*.zip
docs/gempipe/*.html


working/
testing/


pam.csv
draft_panmodel.json
